@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/roboto/Roboto-Regular.woff") format("woff");
}

html{
  font-family: Roboto-Regular;
  background: #F7B538;
}

.wrapper{
  /* background: #FF5400; */
  background: #FFFFC7;
  text-align: center;
  margin: 0 auto;
  width: 500px;
  padding: 8px 8px;

}

table {
    color: #334;
    font-family:Roboto-Regular;
    width:700px;
    border-collapse:collapse;
}

td {
  text-align: center;
  background: #FAFAFA;
}
td, th {
    border: 1px solid transparent;
    height: 50px;
    transition: all 0.2s;
}

th {
  font-weight: bold;
    background: #DFDFDF;
}


/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #f5f4c1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #fedcc1; }

tr td:hover { background: #666; color: #FFF; }
/* Hover cell effect! */


form{

}


.butx{
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  padding: 15px 22px 14px 19px;
  background: #028090;
  color:white;
  text-decoration: none;
  margin: 8px;
}
.butx-small{
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 5px;
  padding: 5px 9px;
  background: #028090;
  color:white;
  text-decoration: none;
  margin: 3px;
}
